<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR Portal - Employees</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="employee">
    <h2>Employee Details</h2>
    <a href="/employees/add" class="button add">Add New Employee</a>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${employees}">
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.email}"></td>
        <td th:text="${emp.gender}"></td>
        <td th:text="${emp.department}"></td>
        <td th:text="${emp.salary}"></td>
        <td>
            <a th:href="@{'/employees/edit/' + ${emp.id}}" class="button green">Edit</a>
            <a th:href="@{'/employees/delete/' + ${emp.id}}" class="button red">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>