* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #6ac9bc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}
.hidden {
    display: none;
}
.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 96%;
    background-color: #020230;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#entry-point {
    width: 30%;
    display: flex;
    flex-direction: column;  /* Ensure the items inside are arranged vertically */
    justify-content: center;
    align-items: center;
}
#name-input {
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    color: #020230;
    margin-top: 5px;
}
.input-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
select {
    appearance: none;
}
#category-options {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    color: #020230;
    margin: 5px 0 10px 0;
    cursor: pointer;
}
.difficulty-option:not(:disabled):hover#easy {
    background-color: rgb(147, 238, 10); 
    cursor: pointer;
}
.difficulty-option:not(:disabled)#medium:hover {
    background-color: rgb(248, 231, 5);  
    cursor: pointer;
}
.difficulty-option:not(:disabled)#difficult:hover {
    background-color: rgb(248, 39, 2);  
    cursor: pointer;
}
.difficulty-option {
    width: 32%;
    padding: 7px;
    border: none;
    margin: 5px 0.5px;
}
.difficulty-option.selected#easy {
    background-color: rgb(147, 238, 10); 
    color: white;
}
.difficulty-option.selected#medium {
    background-color: rgb(248, 231, 5);
}
.difficulty-option.selected#difficult {
    background-color: rgb(248, 39, 2);
}
.button {
    padding: 8px 15px;
    font-size: 18px;
    color: #fff;
    background-color: #6ac9bc;
    border: none;
    border-radius: 50px;  
    margin-top: 35px;
    cursor: pointer;
    transition: all 0.3s ease;  
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(255, 255, 255, 0.15);
}
.button:hover {
    background-color: #45a049; 
    transform: scale(1.1); 
}
#game-page {
    width: 100%;
    height: 100%;
}
#player-details {
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 12px;
}
.details {
    font-size: 25px;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #ca2222;
    color: #ca2222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}
#exit {
    border: 3px solid white;
    color: white;
    background-color: #020230;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#exit:hover {
    border-color: #6ac9bc;
    color: #6ac9bc;
}
#points {
    border: 5px solid #1aa701;
    color: #1aa701;
}
#question-box {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
}
#question-total {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#question-prompt {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: linear-gradient(#100241, black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    margin: 20px 0;
}
#next-timer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 10px;
}
#next-question {
    border: 3px solid white;
    color: white;
    background-color: #020230;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#next-question:hover {
    border-color: #6ac9bc;
    color: #6ac9bc;
}
#next-question:disabled {
    cursor: not-allowed;
}
#next-question:disabled:hover {
    cursor: not-allowed;
    color: #929191; 
    border-color: #929191;
}
.answer-options {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 8px;
}
.answer{
    width: 48.5%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0e0124, #22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 0 6px 20px 6px;
} 
.answer:hover, .answer.active{
    background: #6ac9bc;
}
#end-point {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#final-score {
    color: #45a049;
    font-weight: normal;
}
#score-points {
    font-weight: bold;
}
.answer.correct{
    animation: correct 3s ease forwards;
}
@keyframes correct {
    0%,
    22%,
    42% {
        background: mediumblue;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
        background: rgb(1, 161, 1);
    }
}
.answer.wrong{
    animation: wrong 3s ease forwards;
}
@keyframes wrong {
    0%,
    22%,
    42% {
        background: mediumblue;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #22074d);
    }
    62%,
    100% {
        background: rgb(216, 3, 3);
    }
}